@page "/counter"
@using BlazorApp1.Classes;

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>UserName: @user.UserName</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    int currentCount = 0;
    User user = new User { UserName = "Johan" };

    void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
