@page "/scoreInput"
@using BlazorApp1.Classes;

<div class="flex-container @(IsVisible ? "flex-active" : "flex-hidden")" @onclick="(() => SetScore(-1))">
    <div class="flex-overlay">
        <div class="flex-modal">
            <button class="btn btn-primary" @onclick="(() => SetScore(0))">-</button>
            <button class="btn btn-primary" @onclick="(() => SetScore(1))">1</button>
        </div>
    </div>
</div>
@code {

    [Parameter]
    public EventCallback<int> ScoreClicked { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    public void SetScore(int score)
    {
        ScoreClicked.InvokeAsync(score);
    }
}
